* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  place-items: center;
}

.container {
  font-family: "Poppins", sans-serif;
}
